<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.milderjoghurt.rlf.android" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ReaderActivity"
            android:exported="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".VoteActivity"
            android:exported="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SessionListActivity"
            android:exported="true"
            android:label="@string/SessionList" >
        </activity>
        <activity
            android:name=".CreateSessionActivity"
            android:label="@string/title_activity_create_session"
            android:parentActivityName=".SessionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SessionListActivity" />
        </activity>
        <activity
            android:name=".StudentLiveActivity"
            android:label="@string/title_activity_student_live" >
        </activity>
    </application>

</manifest>
